<?xml version="1.0" encoding="utf-8" ?>
<root>
    <task>
        <id>10000000</id>
        <enable>true</enable>
        <name>同城游登录信息订阅</name>
        <uri>amqp://root:root@192.168.1.17:5672/</uri>
        <queuename>dc.mobile.hall.login</queuename>
        <autodeletequeue>true</autodeletequeue>
        <queuedurable>true</queuedurable>
        <exclusive>false</exclusive>
        <collection>msg.mobile.hall.login</collection>
    </task>
    <task>
        <id>10000001</id>
        <enable>true</enable>
        <name>同城游注册信息订阅</name>
        <uri>amqp://root:root@192.168.1.17:5672/</uri>
        <queuename>dc.mobile.reg</queuename>
        <autodeletequeue>false</autodeletequeue>
        <queuedurable>true</queuedurable>
        <exclusive>false</exclusive>
        <collection>msg.mobile.reg</collection>
    </task>
    <task>
        <id>10000002</id>
        <enable>true</enable>
        <name>同城游注册信息订阅</name>
        <uri>amqp://root:root@192.168.1.17:5672/</uri>
        <queuename>dc.mobile.room.login</queuename>
        <autodeletequeue>false</autodeletequeue>
        <queuedurable>true</queuedurable>
        <exclusive>false</exclusive>
        <collection>msg.mobile.room.login</collection>
    </task>
</root>